.blogpost-meta
{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
}

.blog-home
{
    margin: 5px;
}

.blog-img
{
    margin: 10px auto;
}
.blog-img img
{
    height: 500px;
    width: 80vw;
    border: 3px solid black;
    border-radius: 20px;
}

.blog-post-content
{
    /* background-color: aquamarine; */
    margin: 20px auto;
    width: 70vw;
}

.blog-post-content h1
{
    text-align: center;
}

.blog-post-content p
{
    padding: 10px;
    font-size: 20px;
    font-weight: 200;
}

.author-info
{
    margin: 10px 0;
}
.author-info div
{
padding: 5px 10px;
font-family: cursive;
font-weight: bold;
}

.social-share
{
    margin: 15px 45px;
}

.social-share img
{
    cursor: pointer;
}
.insta
{
    height: 40px;
    width: 40px;
    /* top: 665px;
    right: 409px;
    position: absolute; */
}

.facebook
{
    height: 40px;
    width: 40px;
}

.whatsapp
{
    height: 40px;
    width: 40px;
}

.linkedin
{
    height: 40px;
    width: 40px;
}

.row
{
    display: flex;
}

.article-home
{
    flex-direction: column;
}

.next-post-img
{
    margin: 0 auto;
}

.next-post-img img
{
    height: 200px;
    width: 250px;
}

.next-post-content
{
    text-align: center;
    width: 294px;
}

